<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <meals>
        <meal>
            <name>Beetroot and feta salad</name>
            <price>$15.00</price>
            <description>Suitable for vegetarians, made with fresh beetroot</description>
            <image>beetroot_feta_salad.jpg</image>
        </meal>
        <meal>
            <name>Sourdough Rye Sandwich</name>
            <price>$18.00</price>
            <description>Cheese and salad sandwich made with organic, sourdough rye bread</description>
            <image>sourdough_rye_sandwich.jpg</image>
        </meal>
        <meal>
            <name>Spinach Pie and Salad</name>
            <price>$20.00</price>
            <description>Tasty pie with salad</description>
            <image>spinach_pie_salad.jpg</image>
        </meal>
        <meal>
            <name>Feta pancakes with salad</name>
            <price>$19.50</price>
            <description>Tasty pancake filled with feta and salad</description>
            <image>feta_pancakes_salad.jpg</image>
        </meal>
    </meals>
    <beverages>
    <beverage>
        <name>Coffee</name>
        <sizes>
            <size>
                <name>Small</name>
                <price>$3.50</price>
                <description>For coffee, please inform the staff of the coffee type.</description>
            </size>
            <size>
                <name>Regular</name>
                <price>$4.00</price>
            </size>
            <size>
                <name>Large</name>
                <price>$4.50</price>
            </size>
        </sizes>
        <image>coffee.jpg</image>
    </beverage>
    <beverage>
        <name>Soda</name>
        <price>$3.00</price>
        <image>soda.jpg</image>
    </beverage>
    <beverage>
        <name>Fresh juice</name>
        <price>$6.00</price>
        <image>fresh_juice.jpg</image>
    </beverage>
    <beverage>
        <name>Bottled water</name>
        <price>$2.00</price>
        <image>bottled_water.jpg</image>
    </beverage>
</beverages>

</menu>
